h1 {
    text-align:center;
}

.container {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.01em 16px;
}

.content-top {
    max-width:980px;
    margin:auto;
}

.quiz-button {
    margin: 15px;
    padding:6px 16px;
    overflow:hidden;
    color:#000000;
    background-color:#f1f1f1;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    border-radius:8px!important;
    border:1px solid #cccccc;
}

.quiz-button:hover {
    color:#000000;
    background: color #aef6ff;
}

.quiz-button:active{
    padding-top:6px;
    padding-bottom:4px;
    border:1px solid #334c66;
    background-color:#69c;
    color:#e0ebf5;
    box-shadow:inset 0px 0px 2px #3a6da0;
}

.radio-inline__input:checked + .redio-inline__ladel {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__ladel {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}

body {
    background-image: ("file:///Users/user/Pictures/Screenshot_20221123-004405_Gallery%20(1).jpg");
    background-size: cover;
}








